.bg{
  background-color:#080033;
  min-height:100vh
}
.App-header{
  align-items:center;
  background-color:#011130;
  color:#fff;
  display:flex;
  flex-direction:column;
  justify-content:center;
  min-height:1vh;
}